.box {
  width: 300px;
  padding: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.box img {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  object-fit: fill;
  cursor: pointer;
}
.box input[type="text"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px;
  text-align: center;
  border: 2px solid#14298d;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px;
  text-align: center;
  border: 2px solid#14298d;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.box .submit {
  border: 0;
  background: none;
  display: block;
  margin: 20px;

  border: 2px solid#14298d;
  padding: 14px 10px;
  width: 150px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  height: 50px;
}
.box .submit:hover {
  background: #2ecc71;
}
h1 {
  font-weight: 500;
  color: white;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(252, 252, 252) !important;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255) !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255, 255, 255);
}
